In [28]:
import pandas as pd
df=pd.read_csv("C:/Users/我我我/Desktop/smoking_age.csv",index_col="age")

In [29]:
df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
age,,,,,,,,,,,,,,,,,,
70岁以上,914405.5911,942883.2609,976573.4720,1.020255e+06,1.035801e+06,1.021614e+06,997690.9214,999437.1429,1.019368e+06,1.053593e+06,1.083457e+06,1.093939e+06,1.090971e+06,1.065824e+06,1.088877e+06,1.133099e+06,1.177460e+06,1.223211e+06
15至49岁,157494.9722,146546.5164,136923.0662,1.253834e+05,1.231677e+05,1.200156e+05,113968.1883,112763.2850,1.165919e+05,1.217954e+05,1.262000e+05,1.279703e+05,1.301745e+05,1.299006e+05,1.277591e+05,1.241385e+05,1.201885e+05,1.162980e+05
50至69岁,593128.0143,604979.0229,623250.4438,6.443452e+05,6.492394e+05,6.350735e+05,615673.7702,610025.5374,6.107253e+05,6.159814e+05,6.326190e+05,6.577271e+05,6.890002e+05,7.185440e+05,7.803276e+05,8.462501e+05,8.772619e+05,8.581437e+05

In [30]:
x轴 = [int(x)for x in df.columns.values]
x轴

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017]

In [31]:
七十岁以上 =list(df.loc["70岁以上"].values)
七十岁以上

[914405.5911,
 942883.2609,
 976573.4720000001,
 1020254.6429999999,
 1035801.1640000001,
 1021614.05,
 997690.9214,
 999437.1429,
 1019368.3659999999,
 1053593.16,
 1083457.043,
 1093939.426,
 1090970.654,
 1065824.453,
 1088877.488,
 1133099.264,
 1177460.275,
 1223210.94]

In [32]:
十五至四十九岁 =list(df.loc["15至49岁"].values)
十五至四十九岁

[157494.9722,
 146546.5164,
 136923.0662,
 125383.3681,
 123167.7345,
 120015.5861,
 113968.1883,
 112763.285,
 116591.8811,
 121795.3747,
 126199.9783,
 127970.2739,
 130174.5345,
 129900.6197,
 127759.0934,
 124138.543,
 120188.5147,
 116297.9935]

In [33]:
五十至六十九岁 =list(df.loc["50至69岁"].values)
五十至六十九岁

[593128.0143,
 604979.0229,
 623250.4438,
 644345.2325,
 649239.4186,
 635073.4537,
 615673.7702,
 610025.5374,
 610725.3383,
 615981.3671,
 632619.0011,
 657727.095,
 689000.1749,
 718543.9511,
 780327.5732,
 846250.1063,
 877261.8507,
 858143.6807]

In [57]:
import pyecharts.options as opts
from pyecharts.faker import  Faker
from pyecharts.charts import Line

def line_areastyle_boundary_gap() -> Line:
    c = (
        Line()
        .add_xaxis(["2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017"])
        .add_yaxis("70+ years old",七十岁以上, is_smooth=True)
        .add_yaxis("15-49 years old",十五至四十九岁, is_smooth=True)
        .add_yaxis("50-69 years old",五十至六十九岁, is_smooth=True)
        .set_series_opts(
            areastyle_opts=opts.AreaStyleOpts(opacity=0.5),
            label_opts=opts.LabelOpts(is_show=False),
        )
        .set_global_opts(
            title_opts=opts.TitleOpts(title="按年龄划分的吸烟死亡人数"),
            xaxis_opts=opts.AxisOpts(
                axistick_opts=opts.AxisTickOpts(is_align_with_label=True),
                is_scale=False,
                boundary_gap=False,
            ),
        )
    )
    return c
line_areastyle_boundary_gap().render(path="按年龄划分吸烟死亡人数.html")

'C:\\Users\\我我我\\Desktop\\按年龄划分吸烟死亡人数.html'

# 按年龄划分的吸烟死亡人数
### 表格为2000年到2017年中国按年龄划分的吸烟死亡人数。15岁以下人群吸烟死亡数为0，因此不包括15岁以下人群。
### 从可视化图表可以看出吸烟死亡在老年人口中较为常见，70岁以上占了一半，年轻人和儿童因吸烟死亡人数很低。